<div class="content">
  <mat-card class="exp-card">
    <form class="form"  action="" (ngSubmit)="submit()">

      <div class="fg" [formGroup]="title">
        <mat-form-field appearance="fill">
          <mat-label>
            Title
          </mat-label>
          <input matInput formControlName="title">
        </mat-form-field>

      </div>

      <div class="choices" [formGroup]="choices">
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let option of typeOptions" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let option of categoryOptions" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="fg" [formGroup]="description">
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">Create Job</button>

    </form>
  </mat-card>
</div>
